<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pluscomputers.mosque">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/mosque"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mosque"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NavigationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DonacionetActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".IslaminewilActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AnetaresiaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NewsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SinglenewsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PanoramaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ContactActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MeetingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ArchitectureActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CopyrightActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>