<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rrokullia.pluscomputers.mosque">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mosque"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mosque"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:name=".MyApp">

        <activity
            android:name="com.rrokullia.pluscomputers.mosque.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rrokullia.pluscomputers.mosque.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rrokullia.pluscomputers.mosque.NavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rrokullia.pluscomputers.mosque.DonacionetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rrokullia.pluscomputers.mosque.IslaminewilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rrokullia.pluscomputers.mosque.AnetaresiaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rrokullia.pluscomputers.mosque.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rrokullia.pluscomputers.mosque.SinglenewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rrokullia.pluscomputers.mosque.PanoramaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rrokullia.pluscomputers.mosque.ContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rrokullia.pluscomputers.mosque.TakvimiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rrokullia.pluscomputers.mosque.TakvimiSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rrokullia.pluscomputers.mosque.ArchitectureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rrokullia.pluscomputers.mosque.CopyrightActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.rrokullia.pluscomputers.mosque.PanoramaHome"
            android:screenOrientation="portrait"/>
        <activity android:name="com.rrokullia.pluscomputers.mosque.LiveStreamActivity"
            android:screenOrientation="portrait"/>

        <!--<receiver android:name=".alarmmanager.ShortTimeEntryReceiver">-->
        <!--</receiver>-->

        <!--<service android:name=".alarmmanager.MyService"-->
            <!--android:enabled="true"-->
            <!--android:launchMode="singleTop" />-->

    </application>

</manifest>